/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
  background: url('../images/table.jpg');
}

#main-wrapper {
  background: url('../images/paper-top.png') no-repeat;
  padding-top: 10px;
}

#main {
  background: url('../images/paper-middle.png') repeat-y;
}

.region-footer {
  background: url('../images/paper-bottom.png') no-repeat;
  color: white;
  padding-top: 30px;
}

.region-footer a {
  color: white;
}
