/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
  background: url('table-light.jpg');
}

#main-wrapper {
  background: url('paper-top-light.png') no-repeat;
  padding-top: 10px;
}

#main {
  background: url('paper-middle-light.png') repeat-y;
}

.region-footer {
  background: url('paper-bottom-light.png') no-repeat;
  color: white;
  padding-top: 30px;
}

.region-footer a {
  color: white;
}
